# Ignore Python bytecode files
*.py            # 忽略所有 Python 文件
*.ipynb         # 忽略所有 Jupyter Notebook 文件
*.txt           # 忽略所有文本文件
*.csv           # 忽略所有 CSV 文件

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
.env/

# Ignore sensitive data忽略存储敏感信息的目录
secrets/
*.key
*.pem

# Ignore log files
*.log

# Ignore output directories 文件夹
output/
outputA/
Astockdata/
results/

# Ignore IDE-specific files (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db